<!DOCTYPE html>
<html>
<head>
	<title> Homepage </title>

	<link rel="stylesheet" href="homepage.css"/>
	
	
	
</head>
<body>
<div style="background-color:black"><h1>Ticketmator.lk</h1>
	<br>

	
		<div class="topnav">
			<a style="background-color:purple"class="hover" href="Register.html" >Register</a>
			<a style="background-color:green"class="hover" href="login.html" >LOGIN</a>
			<a class="hover" href="ContactUs.html">Contact Us</a>
			<a class="hover" href="Events.html">Events</a>
			<a class="hover" href="AboutUs.html">About Us</a>
			<a class= "hover" href="Home.html" >Home</a>
		</div>
	
	</div>
	

	<br><br>
	<hr><br>

	
<footer>
	<div class="row">
		<div class="column">For assistant Call<br>0775553421<br><br><br>Address<br><br>Ticketmator.lk<br>No:-50/1,<br>Widyarathna Place,<br>Sapumalwaththa Road,<br>Malabe,Srilanka.</div> 
		<div class="column">Working Hours<br>9.00 a.m to 5.00 p.m</div>
		<div class="column">Email Us On<br><a class= "hover" href="www.Ticketmator.lk" >Support@Ticketmator.lk</a><br><br><br>Follow Us On<br><br><br><br>Subscribe Us On</div>
		<div class="column"><br><br><br><br>Subscribe to the Newsletter<br><input style= "width:100%; height:25px" type = "text" placeholder = "Email"><br><a style="float:right;"class="hover" href="submit.html" >Submit</a></div>
		

	</div>
	</footer>
</body>

</html>
	